#fej{
    background-color: red;
    margin: 20px;
    border: 0;
    padding: 3px;
    text-align: center;
    font-size: 200%;
}
#lab{
    background-color: red;
    margin: 20px;
    border: 0;
    padding: 3px;
    text-align: center;
    font-size: 200%;
    clear: both;
}
.hasab{
 width: 33%;
 float: left;
}
.felso, .kozepso, .also{
  clear: both;
  height: 33%;
  margin: 20px;
}
.kozepso{
    text-align: center;
}
.also{
    margin: 20px 20px 40px 20px;
}

