.fejlec{
    /*display: inline;*/
    box-shadow: 0 0 5px #c0c0c0;
    margin-bottom: 5px;
}
.fejlec{
    background-color: #cccccc;
    cursor: pointer;
}
.tartalom{
    display: none;
}
.koala{
    float: left;
    margin-right: 10px;
}
p{
   position: relative;
   top: 550px;
}